html {
    height: 100%;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    background-color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
    white-space: nowrap;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: black;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    transition: color 0.25s ease-out, border-bottom 0.25s ease-out;
}

nav a:hover, 
nav a:focus,
nav a:active {
    text-decoration: underline;
    color: orange;
}

header {
    padding: .5rem 0;
}

section {
    margin: .5rem 0;
    padding: .5rem;
    border: 1px solid gray;
}

button {
    margin: .5rem 0;
    padding: .5rem 1rem;
}

h1, h2, h3 {
    color: #0066cc;
}

.apartment-info, .card-container, .card {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

p {
    color: #333;
}

.welcome-section {
    text-align: center;
    padding: 20px;
}

.welcome-title {
    font-size: 5em;
    color: #0077CC;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.welcome-message {
    font-size: 2em;
    color: #555;
    margin-top: 10px;
}

.page-title {
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    color: #0077CC;
    font-weight: 1100;
    border-bottom: 2px solid #0077CC;
    padding-bottom: 10px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

.card {
    flex: 0 0 250px;
    margin: 10px;
    padding: 0.5rem 1em;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card div p span.bold-text {
    font-weight: bold;
}

.card p {
    padding: .5rem 1rem;
    color: #333;
}

.card h1, .card h2 {
    color: #0066cc;
    font-weight: bold;
}

.card .favorite-star {
    position: relative;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: blue;
    cursor: pointer;
}

.card .favorite-star.favorited {
    color: blue;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
